body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/img/Fondo-IMC.jpg');
    /* background-image: url(assets/img/Fondo-IMC.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.titulo {
    font-family: 'Kurale', serif;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

.btn-color {
    background-color: #4ca196;
    border-color: #4ca196;
    border-radius: 25px;
    width: 100%;
}

.btn-color:hover {
    background-color: rgb(23, 104, 79);
    border-color: rgb(23, 104, 79);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
