.fondoItem {
    background-color: #4ca196;
    height: 130px;
    border-radius: 20px;
    color: rgb(206, 200, 200);
    margin-top: 20px;
}

.sexo {
    font-size: 40px;
}

.estiloNumero {
    font-size: 32px;
    font-weight: 800;
    margin-top: -30px;
}

.centimetro {
    font-size: 16px;
    font-weight: 400;
    margin-left: -10px;
}

.form-range {
    padding: 0px 20px;
}

input[type=range]::-webkit-slider-thumb {
    background: #08df13;
}

.sumaResta {
    cursor: pointer;
    background-color: #4ca196;
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
}

.sexoDesactivo {
    background-color: rgb(23, 104, 79);
}
